<script>
  $(function() {
      $( ".datepickerfield" ).datepicker({ dateFormat: "dd-mm-yy" });
   });
</script>

<%= form_for(@congreso, :multipart => true) do |f| %>
  <% if @congreso.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>Imposible registrar congreso</h2>

      <ul>
      <% @congreso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset class="inputs" style="padding:  15px;">
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :precio %><br />
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :cupo %><br />
    <%= f.text_field :cupo %>
  </div>
  <div class="field">
    <%= f.label :precio_descuento,"Precio con Descuento" %><br />
    <%= f.text_field :precio_descuento %>
  </div>
  <div class="field">
    Fecha de inicio: <br /><%= f.text_field :fecha_inicio, :class => "datepickerfield" %><br />
  </div>
   <div class="field">
    Fecha fin curso: <br /><%= f.text_field  :fecha_fin, :class => "datepickerfield" %><br />
  </div>
  <div class="field">
    Fecha límite de registro: <br /><%= f.text_field :limite_registro, :class => "datepickerfield" %><br />
  </div>
   <div class="field">
    <%= f.label :lugar %><br />
    <%= f.text_field :lugar %>
  </div>
  <div class="field">
    <%= f.label :pago, "Requiere pago" %><br />
    <%= f.check_box :pago %>
  </div>
  <div class="field">
    <%= f.label :requiere_horario, "Requiere registro de horarios" %><br />
    <%= f.check_box :requiere_horario %>
  </div>
  <div class="field">
    <%= f.label :imagen %>
    <%= f.file_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :constancias_bg %>
    <%= f.file_field :constancias_bg %>
  </div>
  <br/>
  <div>
    <% @campos.each do |campo| %>
      <div>
        <%  if @congreso.campos.include? campo %>
          <% checked = true %>
        <% else %>
          <% checked = false %>
        <% end %>
        <%=  "#{campo.nombre}" %>
        <%= check_box_tag "#{campo.id}", {}, checked %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
