

<%= form_for(@persona, :url => congreso_registrar_path(@congreso), :method => "post") do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>Imposible registrar participante</h2>
      <br/>
      <ul style="padding-left: 20px;">
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <fieldset class="inputs">
  <div class="field">
    <%= f.label :persona_tipo,"Tipo de participante" %><br />
    <%=  f.collection_select :persona_tipo_id, @congreso.persona_tipos ,:id, :nombre, :prompt => false %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido_paterno %><br />
    <%= f.text_field :apellido_paterno %>
  </div>
  <div class="field">
    <%= f.label :apellido_materno %><br />
    <%= f.text_field :apellido_materno %>
  </div>
     <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
   
    <div class="field">
    <%= f.label :institucion,"Institución" %><br />
    <%= f.text_field :institucion %>
  </div>
  <% if @congreso.id != 4 %>
    <div class="field">
      <%= f.label :extra_uno,"Años de experiencia" %><br />
      <%= f.select :extra_uno, Array(1..50)%>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :grado_estudio,"Último grado de estudios" %><br />
    <%= f.collection_select :grado_estudio_id, @congreso.grado_estudios, :id, :nombre %>
  </div>
    <div class="field">
    <%= f.label :ciudad %><br />
    <%= f.text_field :ciudad %>
  </div>
   <div class="field">
        <%= f.label :estado %>
        <%= f.collection_select :estado_id, @estados,:id, :nombre, :prompt => false %>
    </div>

  <div class="field">
    <%= f.label :pais,"País" %><br />
    <%= f.collection_select :pais_id, Pais.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :telefono,"Teléfono (incluir clave lada)" %><br />
    <%= f.text_field :telefono %>
  </div>

    <div class="field">
      <%= hidden_field_tag(:factura, false) %>
    </div>
  <br/>
  <% unless @congreso.talleres_con_cupo.empty? %>
  <fieldset>
    <h5 class="legend"><span class="label">Talleres</span></h5>

    <ol>
   
      <% @congreso.talleres_con_cupo.sort_by{|taller| taller.numero}.each do |taller| %>
      <li>
        <%= check_box_tag "persona[taller_ids][]", taller.id, persona_inscrita_en_taller?(taller) -%>
        <%= raw("<span for='persona_taller_ids_' class='opt'>#{taller.nombre}</span>") -%>
        <br/>
        
          <% unless @congreso.id == 3 %>
            Precio: <%= number_to_currency(taller.precio,:unit => "$") %>
          <% end %>
       
      </li>
      <% end %>
    </ol>
  </fieldset>
  <% end %>
  <input type="radio" onchange="$('#factura').val(true);" name="group1">Si requiero factura</input>
  <input type="radio" onchange="$('#factura').val(false);" name="group1" checked>No requiero factura</input><br/>
<!--
  <div id="datos_factura">

    
    
    <div id="facturacion">
        <div class="field">
        <%= f.label :rfc, "RFC" %><br />
        <%= f.text_field :rfc %>
      </div>
        <div class="field">
        <%= f.label :curp,"CURP" %><br />
        <%= f.text_field :curp %>
      </div>
        <b>Direccion:</b>
        <div class="field">
        <%= f.label :calle %><br />
        <%= f.text_field :calle %><br/>
        <%= f.label :numero %><br />
        <%= f.text_field :numero %>
      </div>
        <div class="field">
        <%= f.label :cp, 'Codigo Postal' %><br />
        <%= f.text_field :cp %>
      </div>

    </div>
    
  </div>
  -->

  <div style="margin: 10px; margin-left: 0px;">
    <%= f.label :comprobante_pago, "Comprobante de pago" %>
    <%= f.file_field :comprobante_pago, :style => "margin: 8px;" %>
  </div>


  <br/>
  <div class="actions">
    <%= f.submit "Registrarse al Congreso" %>
  </div>
  </fieldset>
</div>
<% end %>