<%= form_for(@persona, :url => congreso_registrar_path(@congreso), :method => "post") do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>Imposible registrar participante</h2>
      <br/>
      <ul style="padding-left: 20px;">
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="inputs">
  <div class="field">
    <%= f.label :persona_tipo,"Tipo de participante" %><br />
    <%=  f.collection_select :persona_tipo_id, @congreso.persona_tipos ,:id, :nombre, :prompt => false %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido_paterno %><br />
    <%= f.text_field :apellido_paterno %>
  </div>
  <div class="field">
    <%= f.label :apellido_materno %><br />
    <%= f.text_field :apellido_materno %>
  </div>
     <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :rfc, "RFC" %><br />
    <%= f.text_field :rfc %>
  </div>
    <div class="field">
    <%= f.label :curp,"CURP" %><br />
    <%= f.text_field :curp %>
  </div>
    <b>Direccion:</b>
    <div class="field">
    <%= f.label :calle %><br />
    <%= f.text_field :calle %><br/>
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
    <div class="field">
    <%= f.label :cp, 'Codigo Postal' %><br />
    <%= f.text_field :cp %>
  </div>
    <div class="field">
    <%= f.label :institucion,"Institución" %><br />
    <%= f.text_field :institucion %>
  </div>
    <div class="field">
    <%= f.label :ciudad %><br />
    <%= f.text_field :ciudad %>
  </div>
   <div class="field">
        <%= f.label :estado %>
        <%= f.collection_select :estado_id, @estados,:id, :nombre, :prompt => false %>
    </div>

    <div class="field">
        <h4>¿Necesita Factura?</h4><%= check_box_tag(:factura) %>
    </div>
  <br/>

  <% unless @congreso.talleres_con_cupo.empty? %>
  <fieldset>
    <h5 class="legend"><span class="label">Talleres</span></h5>

    <ol>
      <% @congreso.talleres_con_cupo.each do |taller| %>
      <li>
        <%= check_box_tag "persona[taller_ids][]", taller.id, persona_inscrita_en_taller?(taller) -%>
        <%= raw("<span for='persona_taller_ids_' class='opt'>#{taller.nombre}</span>") -%>
        <br/>
        Precio: <%= number_to_currency(taller.precio,:unit => "$") %>
      </li>
      <% end %>
    </ol>
  </fieldset>
  <% end %>


  <br/>
  <div class="actions">
    <%= f.submit "Registrarse al Congreso" %>
  </div>
  </fieldset>
<% end %>