<script type="text/javascript">
  function validar_horario_talleres(selected){
    //alert(seleccionado.value);
    elements = $("#lista_de_talleres :checkbox:checked");
    els=[];
    for(var x = 0; x < elements.length; x++){
      els[x] = elements[x].value
    }
    $.get("<%= validar_horario_taller_url %>" + ".js",{ elementos :els, selected_id : selected.value, selected_checked : selected.checked });
  }
</script>

<%= form_for(@persona, :url => congreso_registrar_path(@congreso), :method => "post") do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>Imposible registrar participante</h2>
      <br/>
      <ul style="padding-left: 20px;">
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <fieldset class="inputs" style="padding: 15px;">
  <% if @congreso.campos.include?(Campo.find_by_nombre "Tipo Participante") %>
    <div class="field">
      <%= f.label :persona_tipo,"Tipo de participante" %><br />
      <%=  f.collection_select :persona_tipo_id, @congreso.persona_tipos ,:id, :nombre, :prompt => false %>
    </div>
  <% end %>
  <% if @congreso.campos.include?(Campo.find_by_nombre "Nombre") %>
    <div class="field">
      <%= f.label :nombre %><br />
      <%= f.text_field :nombre %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Apellido Paterno") %>
    <div class="field">
      <%= f.label :apellido_paterno %><br />
      <%= f.text_field :apellido_paterno %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Apellido Materno") %>
    <div class="field">
      <%= f.label :apellido_materno %><br />
      <%= f.text_field :apellido_materno %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Nombre Gafete") %>
    <div class="field">
      <p>
        Escriba su nombre como desea que aparezca
          en su Gafete:
      </p>
      <%= f.label :nombre_gafete %><br />
      <%= f.text_field :nombre_gafete %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Nombre Constancia") %>
    <div class="field">
      <p>
        Escriba su nombre como desea que aparezca
        en su Constancia de Participación:
      </p>
      <%= f.label :nombre_constancia %><br />
      <%= f.text_field :nombre_constancia %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Email") %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  <% end %>


  <% if @congreso.campos.include?(Campo.find_by_nombre "Institución") %>
    <div class="field">
      <%= f.label :institucion,"Institución" %><br />
      <%= f.text_field :institucion %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Carrera") %>
    <div class="field">
      <%= f.label :carrera,"Carrera" %><br />
      <%= f.text_field :carrera %>
    </div>
  <% end %>

 <% if @congreso.campos.include?(Campo.find_by_nombre "Puesto") %>
    <div class="field">
      <%= f.label :puesto %><br />
      <%= f.text_field :puesto %>
    </div>
  <% end %>


  <% if @congreso.campos.include?(Campo.find_by_nombre "Tiempo Experiencia") %>
    <div class="field">
      <%= f.label :anos_experiencia,"Años de experiencia" %><br />
      <%= f.select :anos_experiencia, Array(1..50)%>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Grado Estudio") %>
    <div class="field">
      <%= f.label :grado_estudio,"Último grado de estudios" %><br />
      <%= f.collection_select :grado_estudio_id, @congreso.grado_estudios, :id, :nombre %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Ciudad") %>
    <div class="field">
      <%= f.label :ciudad %><br />
      <%= f.text_field :ciudad %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Código Postal") %>
    <div class="field">
          <%= f.label :cp, 'Código Postal' %><br />
          <%= f.text_field :cp %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Estado") %>
    <div class="field">
        <%= f.label :estado %>
        <%= f.collection_select :estado_id, @estados,:id, :nombre, :prompt => false %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "País") %>
    <div class="field">
      <%= f.label :pais,"País" %><br />
      <%= f.collection_select :pais_id, Pais.all, :id, :nombre %>
    </div>
  <% end %>

  <% if @congreso.campos.include?(Campo.find_by_nombre "Telefono") %>
    <div class="field">
      <%= f.label :telefono,"Teléfono (incluir clave lada)" %><br />
      <%= f.text_field :telefono %>
    </div>
  <% end %>


    <div class="field">
      <%= hidden_field_tag(:factura, false) %>
    </div>
  <br/>
  <% unless @congreso.talleres_con_cupo.empty? %>
  <fieldset>
    <h5 class="legend"><span class="label"> Talleres o Visitas </span></h5>
<br/>
    <ol id="lista_de_talleres">
   
      <% @congreso.talleres_con_cupo.sort_by{|taller| taller.numero}.each do |taller| %>
      <li>
        <%= check_box_tag "persona[taller_ids][]", taller.id, persona_inscrita_en_taller?(taller),  :id => "taller_#{taller.id}", :onchange => "validar_horario_talleres(this);" -%>
        <%= raw("<span for='persona_taller_ids_' class='opt'>#{taller.nombre}</span>") -%>
        <br/>
        
          <% unless @congreso.id == 3 %>
            Precio: <%= number_to_currency(taller.precio) %> <%#,:unit => "USD")%>
          <% end %>
       
      </li>
      <% end %>
    </ol>
  </fieldset>
  <% end %>


  <% if @datos_lucrativos %>
    <!--
    <input type="radio" onchange="$('#factura').val(true);" name="group1">Si requiero factura</input>
    <input type="radio" onchange="$('#factura').val(false);" name="group1" checked>No requiero factura</input><br/>

    
    <div id="datos_factura">



      <div id="facturacion">
          <div class="field">
          <%= f.label :rfc, "RFC" %><br />
          <%= f.text_field :rfc %>
        </div>
          <div class="field">
          <%= f.label :curp,"CURP" %><br />
          <%= f.text_field :curp %>
        </div>
          <b>Direccion:</b>
          <div class="field">
          <%= f.label :calle %><br />
          <%= f.text_field :calle %><br/>
          <%= f.label :numero %><br />
          <%= f.text_field :numero %>
        </div>


      </div>

    </div>
    -->
    <!--
      <div style="margin: 10px; margin-left: 0px;">
        <%  # f.label :comprobante_pago, "Comprobante de pago" %>
        <% #f.file_field :comprobante_pago, :style => "margin: 8px;" %>
      </div>
    -->
  <% end %>

  <br/>
  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
  </fieldset>
</div>
<% end %>