<script type="text/javascript">
  $(document).ready(function(){
    $("#busqueda_datos_participante").hide();
    $("#dp").val(false);
  });
</script>
<%= form_tag(buscar_url(@id), :method => :post) do  %>
<div class="page-header">
  <h1>Búsqueda de participantes</h1>
</div>

  <div>
    <h3>Método de búsqueda</h3>
    <div >
      <div><input id ="num"type="radio" name="tipo_busqueda" onChange="$('#busqueda_datos_participante').hide(); $('#busqueda_numero_registro').show(); $('#numero_registro').val(true);" checked>Por número de registro</input></div>
      <div><input id="dp" type="radio" name="tipo_busqueda" onchange="$('#busqueda_numero_registro').hide();$('#busqueda_datos_participante').show(); $('#numero_registro').val(false);">Con mis datos personales</input></div>
    </div>
    </div>
  <div>
    <%= hidden_field_tag :numero_registro, true %>
  </div>
<div class="container" style="">
  <div id="busqueda_numero_registro" style="margin: 15px;">
    <label class="control-label">Número de registro</label><%= text_field_tag :numero, nil, :class => "input-small search-query" %>
  </div>
  </div>
<div id="busqueda_datos_participante" style="margin: 15px;" >
    <div>
      <%= label_tag "Nombre(s)" %>
      <%= text_field_tag :nombre, nil, :class => "input-medium search-query" %>
    </div>
    <div>
      <%= label_tag "Apellido paterno" %>
      <%= text_field_tag :apellido_paterno, nil, :class => "input-medium search-query" %>
    </div>
    <div>
      <%= label_tag "Apellido materno" %>
      <%= text_field_tag :apellido_materno, nil, :class => "input-medium search-query" %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag "Buscar", :class => "btn btn-warning" %>
  </div>
<% end %>