
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"  %>

<script>
  $(document).ready(function(){

    $("#facturacion").hide();

 });
</script>
<h1><%= @congreso.nombre %></h1>
<% if @congreso.imagen %>
  <p>
    <%= image_tag @congreso.imagen.url %>
  </p>
<% end %>

<!--
<h4>Precio <%= number_to_currency(@congreso.precio, :unit => "$") %></h4>
<h4>Precio para Estudiantes:  <%= number_to_currency(@congreso.precio_descuento, :unit =>"$") %></h4>
-->

<h3>Registro de Participantes</h3>
<%= render 'persona_form' %>