
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"  %>

<script>
  $(document).ready(function(){

    $("#facturacion").hide();

 });
</script>
<h1><%= @congreso.nombre %></h1><br/>
<% if @congreso.imagen != nil %>
<div style="float: right; margin-left: 20px; margin-top: 20px;">
    <%= image_tag @congreso.imagen.url(:presentacion) %>
  </div>
<% end %>

<!--
<h4>Precio <%= number_to_currency(@congreso.precio, :unit => "$") %></h4>
<h4>Precio para Estudiantes:  <%= number_to_currency(@congreso.precio_descuento, :unit =>"$") %></h4>
-->

<h2>Registro</h2><br/>
<%= render 'persona_form' %>