<p>
  <b>Nombre:</b>
  <%= @congreso.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @congreso.descripcion %>
</p>

<p>
  <b>Precio:</b>
    <%= number_to_currency(@congreso.precio,:unit => "$") %>
</p>

<h3>Talleres</h3>
<ul>
<% @congreso.talleres.each do |taller| %>
    <li><%= link_to taller.nombre, taller_path(taller) %></li>
<% end %>
</ul>

<h3>Participantes</h3>
<ul>
<% @congreso.personas.each do |persona| %>
    <li><%= link_to persona.nombre_completo, edit_participante_url(persona, @congreso) %></li>
<% end %>
</ul>

<fieldset class="inputs">
<%= link_to 'Editar', edit_congreso_path(@congreso) %> |
<%= link_to 'Lista de Congresos', congresos_path %> |
<%= link_to 'Registro de Participantes', congreso_registro_path(@congreso.id) %>  |
<%= link_to 'Exportar participantes a Excel', congreso_participantes_path(@congreso,:xlsx) %>
</fieldset>
