<% if @congreso.imagen %>
  <p>
    <%= image_tag @congreso.imagen.url %>
  </p>
<% end %>

<p>
  <b>Nombre:</b>
  <%= @congreso.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @congreso.descripcion %>
</p>

<p>
  <b>Precio:</b>
    <%= number_to_currency(@congreso.precio,:unit => "$") %>
</p>

<p>
  <b>Precio con Descuento:</b>
    <%= number_to_currency(@congreso.precio_descuento,:unit => "$") %>
</p>

<p>
  <b>Fecha de inicio:</b>
  <%= l @congreso.fecha_inicio, :format => :medium %>
</p>

<p>
  <b>Fecha clausura:</b>
  <%= l @congreso.fecha_fin, :format => :medium %>
</p>

<p>
  <b>Lugar:</b>
  <%= @congreso.lugar %>
</p>
<h3>Talleres</h3>
<ul>
<% @congreso.talleres.each do |taller| %>
    <li><%= link_to taller.nombre, taller_path(taller) %></li>
<% end %>
</ul>

<h3>Participantes</h3>
<ul>
<% @congreso.personas_confirmadas.each do |persona| %>
  <li style="margin-right: 10px; width: 350px;"><%= persona.nombre_completo %><%= link_to 'Editar', edit_persona_url(persona, @congreso), :style => 'float: right;'  %></li>
<% end %>
</ul>

<h3>Tipos de Participantes</h3>
<% @congreso.persona_tipos.each do |tipo|  %>
    <h4><%= tipo %></h4>
    <ul>
    <% tipo.personas.each do |persona| %>
        <li style="margin-right: 10px; width: 350px;"><%= persona.nombre_completo %><%= link_to 'Editar', edit_persona_url(persona, @congreso), :style => 'float: right;'  %></li>
    <% end  %>
    </ul>
<% end %>

<h3>Participantes sin Confirmar Pago</h3>
<ul>
<% @congreso.personas_sin_confirmar.each do |persona| %>
  <li style="margin-right: 10px; width: 350px;"><%= persona.nombre_completo %><%= link_to 'Editar', edit_persona_url(persona, @congreso), :style => 'float: right;'  %></li>
<% end %>
</ul>

<fieldset class="inputs">
<%= link_to 'Editar', edit_congreso_path(@congreso) %> |
<%= link_to 'Lista de Congresos', congresos_path %> |
<%= link_to 'Registro de Participantes', congreso_registro_path(@congreso.id) %>  |
<%= link_to 'Exportar participantes a Excel', congreso_participantes_path(@congreso,:xlsx) %>
</fieldset>

<%= link_to 'Registrar taller', new_taller_url %>
