<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>Imposible registrar datos de facturación</h2>
      <br/>
      <ul style="padding-left: 20px;">
        <li>Todos los campos son obligatorios</li>
      </ul>
    </div>
  <% end %>
<div class="field">
  <%= f.label :nombre, "Nombre o Razón Social" %>
  <%= f.text_field :nombre %>
</div>
<div class="field">
  <%= f.label :calle %>
  <%= f.text_field :calle %>
</div>
<div class="field">
  <%= f.label :numero %>
  <%= f.text_field :numero %>
</div>
<div class="field">
  <%= f.label :rfc, "RFC" %>
  <%= f.text_field :rfc %>
</div>
<div class="field">
  <%= f.label :cp, 'Codigo Postal' %>
  <%= f.text_field :cp %>
</div>
<div class="field">
  <%=  f.label :ciudad %>
  <%= f.text_field :ciudad %>
</div>
<div class="field">
  <%= f.label :estado %>
  <%= f.collection_select :estado_id, @estados,:id, :nombre, :prompt => false %>
</div>
<div class="field">
  <%= f.hidden_field :persona_id, :value => @persona.id %>
</div>

<div class="submit">
  <%= f.submit 'Guardar' %>
</div>

<% end %>