<h1>Datos facturacion</h1>
<p>
  <b>Participante factura:</b> <%=  @factura.persona.nombre %>
</p>
<p>
  <b>Factura #:</b> <%= @factura.id %>
</p>
<p>
  <b>Nombre:</b> <%= @factura.nombre %>
</p>
<p>
  <b>Calle:</b> <%=  @factura.calle %>
</p>
<p>
  <b>Numero:</b> <%=  @factura.numero %>
</p>
<p>
  <b>RFC:</b> <%= @factura.rfc %>
</p>
<p>
  <b>Codigo Postal:</b> <%= @factura.cp %>
</p>
<p>
  <b>Pais:</b> <%= @factura.ciudad %>
</p>
<p>
  <b>Estado:</b> <%= @factura.estado.nombre %>
</p>

