<h1>Lista de Talleres</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Congreso</th>
    <th>Instructor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @talleres.each do |taller| %>
  <% if taller_propio?(taller) %>
    <tr>
      <td><%= taller.nombre %></td>
      <td><%= taller.congreso.nombre %></td>
      <td><%= taller.instructor %></td>
      <td><%= link_to 'Ver Detalles', taller %></td>
      <% if current_user_session %>
        <td><%= link_to 'Editar', edit_taller_path(taller) %></td>
        <td><%= button_to 'Eliminar', taller, confirm: '¿Está seguro?', method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
</table>

<br />
<% if current_user_session %>
  <%= link_to 'Registrar Taller', new_taller_path %>
<% end %>
