<p>
  <b>Nombre:</b>
  <%= @taller.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @taller.descripcion %>
</p>

<p>
  <b>Instructor:</b>
  <%= @taller.instructor %>
</p>

<p>
  <b>Precio:</b>
  <%= number_to_currency(@taller.precio,:unit => "$") %>
</p>

<p>
  <b>Fecha de inicio:</b>
  <%= @taller.fecha_inicio %>
</p>

<p>
  <b>Fecha conclusion taller:</b>
  <%= @taller.fecha_fin %>
</p>

<p>
  <b>Lugar:</b>
  <%= @taller.lugar %>
</p>

<p>
  <b>Hora:</b>
  <%= @taller.hora %>
</p>

<p>
  <b>Número Máximo de Participantes:</b>
  <%= @taller.max_participantes %>
</p>

<p>
  <b>Número de Participantes Inscritos:</b>
  <%= @taller.personas.count %>
</p>

<p>
  <b>Congreso: </b>
  <%= link_to @taller.congreso.nombre, congreso_path(@taller.congreso) %>
</p>

<h3>Participantes Inscritos</h3>
<ul>
    <% @taller.personas.each do |persona| %>
        <li><%= persona.nombre_completo %></li>
    <% end %>
</ul>

<fieldset class="inputs">
  <% if current_user_session %>
    <%= link_to 'Editar', edit_taller_path(@taller) %> |
  <% end %>
  <%= link_to 'Lista de Talleres', congreso_talleres_path(@taller.congreso) %>
</fieldset>
