<%= form_for(@participante, :url => persona_url) do |f| %>
<% if @participante.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>Imposible registrar participante</h2>

      <ul>
      <% @participante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Nombre") %>
  <div>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Apellido Paterno") %>
  <div>
    <%= f.label :apellido_paterno %>
    <%= f.text_field :apellido_paterno %>
  </div>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Apellido Materno") %>
  <div>
    <%= f.label :apellido_materno %>
    <%= f.text_field  :apellido_materno %>
  </div>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Email") %>
  <div>
    <%= f.label :email %>
    <%= f.text_field  :email %>
  </div>
<% end %>

<div>
  <%= f.label :pago %>
  <%= f.check_box :pago %>
</div>
<div>
  <%= f.submit "Guardar" %>
</div>
<%end %>

<%= link_to "Regresar", congreso_url(2) %>