<p>
  <b>Nombre:</b>
  <%= @participante.nombre %>
</p>

<p>
  <b>Apellido Paterno:</b>
  <%= @participante.apellido_paterno %>
</p>

<p>
  <b>Apellido Materno:</b>
  <%= @participante.apellido_materno %>
</p>

<p>
  <b>Calle:</b>
  <%= @participante.calle %>
</p>

<p>
  <b>numero:</b>
  <%= @participante.numero %>
</p>

<p>
  <b>RFC:</b>
  <%= @participante.rfc %>
</p>

<p>
  <b>CURP:</b>
  <%= @participante.curp %>
</p>

<p>
  <b>Codigo Postal:</b>
  <%= @participante.cp %>
</p>

<p>
  <b>Institucion:</b>
  <%= @participante.institucion %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @participante.ciudad %>
</p>

<p>
  <b>Estado:</b>
  <%= @participante.estado.nombre %>
</p>

<p>
  <b>Email:</b>
  <%= @participante.email %>
</p>

<p>
  <b>Comprobante de pago:</b>
  <%= image_tag @participante.comprobante_pago.url(:medium) %>
</p>

<%= link_to "Congresos", congresos_url %>
