<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Nombre") %>
  <p>
    <b>Nombre:</b>
    <%= @participante.nombre unless @participante.nombre.nil? %>
  </p>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Apellido Paterno") %>
  <p>
    <b>Apellido Paterno:</b>
    <%= @participante.apellido_paterno unless @participante.apellido_paterno.nil? %>
  </p>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Apellido Materno") %>
  <p>
    <b>Apellido Materno:</b>
    <%= @participante.apellido_materno unless @participante.apellido_materno.nil? %>
  </p>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Email") %>
  <p>
    <b>Email:</b>
    <%= @participante.email unless @participante.email.nil? %>
  </p>
<% end %>

<% if @participante.factura != nil %>
  <p>
    <b>Razón social:</b>
    <%= @participante.factura.nombre %>
  </p>

  <p>
    <b>Calle:</b>
    <%= @participante.factura.calle %>
  </p>

  <p>
    <b>numero:</b>
    <%= @participante.factura.numero %>
  </p>

  <p>
    <b>RFC:</b>
    <%= @participante.factura.rfc %>
  </p>

  <p>
    <b>Codigo Postal:</b>
    <%= @participante.factura.cp %>
  </p>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Institución") %>
  <p>
    <b>Institución:</b>
    <%= @participante.institucion unless @participante.institucion.nil? %>
  </p>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Ciudad") %>
  <p>
    <b>Ciudad:</b>
    <%= @participante.ciudad unless @participante.ciudad.nil? %>
  </p>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Estado") %>
  <p>
    <b>Estado:</b>
    <%= @participante.estado.nombre unless @participante.estado.nil? %>
  </p>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Tipo Participante") %>
  <p>
    <b>Tipo de asistente:</b>
    <%= @participante.persona_tipo.nombre unless @participante.persona_tipo.nil? %>
  </p>
<% end %>

<% if @participante.congreso.campos.include?(Campo.find_by_nombre "Telefono") %>
  <p>
    <b>Telefono:</b>
    <% if @participante.telefono != nil %>
      <%= @participante.telefono %>
    <% else %>
      Sin telefono
    <% end %>
  </p>
<% end %>

<% unless @participante.comprobante_pago_file_name == nil %>
  <div>
    <b>Comprobante de pago:</b>
    <% if imagen? @participante.comprobante_pago_file_name %>
      <div style="margin-top: 8px;">
        <%=link_to image_tag(@participante.comprobante_pago.url(:medium)), @participante.comprobante_pago.url(:original) %>
      </div>
    <% else %>
    
      <%= link_to "Ver archivo", @participante.comprobante_pago.url %>

    <% end %>
  </div>

<% end %>

<% unless @participante.talleres == nil or @participante.talleres == [] %>
  <div id ="talleres">
    <h3>Talleres</h3>
    <% @participante.talleres.each do |taller| %>
      <div>
        <%= taller.nombre %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Congresos", congresos_url %>
