<p>
  <b>Nombre:</b>
  <%= @participante.nombre %>
</p>

<p>
  <b>Apellido Paterno:</b>
  <%= @participante.apellido_paterno %>
</p>

<p>
  <b>Apellido Materno:</b>
  <%= @participante.apellido_materno %>
</p>

<p>
  <b>Email:</b>
  <%= @participante.email %>
</p>

<% if @participante.factura != nil %>
  <p>
    <b>Razón social:</b>
    <%= @participante.factura.nombre %>
  </p>

  <p>
    <b>Calle:</b>
    <%= @participante.factura.calle %>
  </p>

  <p>
    <b>numero:</b>
    <%= @participante.factura.numero %>
  </p>

  <p>
    <b>RFC:</b>
    <%= @participante.factura.rfc %>
  </p>

  <p>
    <b>Codigo Postal:</b>
    <%= @participante.factura.cp %>
  </p>
<% end %>
<p>
  <b>Institucion:</b>
  <%= @participante.institucion %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @participante.ciudad %>
</p>

<p>
  <b>Estado:</b>
  <%= @participante.estado.nombre %>
</p>

<p>
  <b>Tipo de asistente:</b>
  <%= @participante.persona_tipo.nombre %>
</p>
<p>
  <b>Telefono:</b>
  <% if @participante.telefono != nil %>
    <%= @participante.telefono %>
  <% else %>
    Sin telefono
  <% end %>
</p>

<% unless @participante.comprobante_pago_file_name == nil %>
  <div>
    <b>Comprobante de pago:</b>
    <% if imagen? @participante.comprobante_pago_file_name %>
      <div style="margin-top: 8px;">
        <%=link_to image_tag(@participante.comprobante_pago.url(:medium)), @participante.comprobante_pago.url(:original) %>
      </div>
    <% else %>
    
      <%= link_to "Ver archivo", @participante.comprobante_pago.url %>

    <% end %>
  </div>

<% end %>

<% unless @participante.talleres == nil or @participante.talleres == [] %>
  <div id ="talleres">
    <h3>Talleres</h3>
    <% @participante.talleres.each do |taller| %>
      <div>
        <%= taller.nombre %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Congresos", congresos_url %>
