<%= form_for(@persona_tipo) do |f| %>
  <% if @persona_tipo.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>Imposible registrar tipo de participante</h2>

      <ul>
      <% @persona_tipo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="inputs">
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :siglas %><br />
    <%= f.text_field :siglas %>
  </div>
  <div class="field">
    <%= f.label :congreso_id,"Congreso" %><br />
    <%= f.collection_select :congreso_id, @congresos,:id, :nombre, :prompt => false %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
