<!-- Cada congreso tendrá una imagen o liga de regreso a si mismo o a una url en especial -->
<a href="http://www.facebook.com/pages/CampusLink/295832830430787">
  <%= image_tag "banner-me-gusta.jpg"%>
</a>

<p>
  <b>Nombre:</b>
  <%= @participante.nombre %> <%= @participante.apellido_paterno %> <%= @participante.apellido_materno %>
</p>

<% if @participante.pago? %>
    <p>
      <% unless (@participante.informacion_pago == "00000") %>
        <b>Folio en Caja Única:</b>
        <%= @participante.informacion_pago %>
      <% else %>
        <b> Participante Confirmado </b>
      <% end %>
    </p>
<% else %>
    <p>
      <b>No se ha confirmado el pago de este participante</b>
    </p>
<% end %>