<p>
  <b>Nombre:</b>
  <%= @participante.nombre %>
</p>

<p>
  <b>Apellido Paterno:</b>
  <%= @participante.apellido_paterno %>
</p>

<p>
  <b>Apellido Materno:</b>
  <%= @participante.apellido_materno %>
</p>

<p>
  <b>Email:</b>
  <%= @participante.email %>
</p>

<%= link_to "Congresos", congresos_url %>
